<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Username: {{name}}</ion-card-title>
        <ion-card-title>Id: {{id}}</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-item (click)="del_user()">delete</ion-item>
    <ion-item (click)="edit_user_prompt()">Edit</ion-item>
  </ion-content>
</ion-content>
