<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <span slot="end">
      <ion-button (click)="add_task_prompt()" >Add task</ion-button>
    </span>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen> 
  <ion-list-header>
    In progress
  </ion-list-header>
  <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ion-list *ngFor="let task of tasks">
        <ion-item [routerLink]="'/details/'+task.id" routerDirection="forward">
          <ion-icon slot="start"></ion-icon>
            {{task.title}}   
            <ion-reorder slot="end"></ion-reorder>
        </ion-item>
    </ion-list>
  </ion-reorder-group>
  <ion-list-header>
    To be done
  </ion-list-header>
  <ion-list *ngFor="let task of tasks">
    <ion-item [routerLink]="'/details/'+task.id" routerDirection="forward">
      <ion-icon slot="start"></ion-icon>
         {{task.title}} 
    </ion-item>
</ion-list>
  <ion-button (click)="presentPrompt()"></ion-button>
  <ion-button (click)="get_user()"></ion-button>
  <ion-button (click)="get_tasks()"></ion-button>
  <ion-button (click)="add_task()"></ion-button>
</ion-content>
