<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-reorder-group disable='false'></ion-reorder-group>
    <ion-list-header>
      In progress
    </ion-list-header>
    <ion-item>
    
    </ion-item>
  </ion-list>
  <ion-button (click)="presentPrompt()"></ion-button>
  <ion-button (click)="get()"></ion-button>
</ion-content>
