<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>
      Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{description}}
    </ion-card-content>
  </ion-card>
  <ion-item (click)="del_task()">delete</ion-item>
  <ion-item (click)="edit_task_prompt()">Edit</ion-item>
</ion-content>
